<%- include('./includes/header.ejs') %>

<div class="container">
  <div class="title">
    <h1>Password Reset</h1>
  </div>
  <div class="message">
    <p>Hello <%= payload.name %>,</p>

    <p>Your password has been changed successfully</p>

    <p>Best regards,</p>
    <p>The MERN-auth Team</p>
    <a class="cta-button" href="<%= payload.url %>login">Login</a>
  </div>
  
</div>

<%- include('./includes/footer.ejs') %>
